.button {
  color: $color-dark-3xl;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.88px;
  text-decoration: none;
  border: none;
  border-radius: 100px;
  padding: 15px 45px;
  cursor: pointer;

  transition-duration: 0.5s;

  &__primary {
    background-color: $color-primary-light;
    &:hover {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__secondary {
    // border: 2px solid $color-primary;
    box-shadow: inset 0 0 0 2px $color-primary;

    &:hover {
      background-color: $color-primary;
      box-shadow: none;
    }
  }
}
